/* A CSS module allows us to apply a style to a single component. They are designed to fix the problem of the global scope in CSS. */

.recipe {
  border-radius: 10px;
  box-shadow: 0px 5px 20px #9b9b9b;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: white;
  align-items: center;
  width: 40%;
}

.image {
  width: 200px;
}

.ingredients {
  list-style-type: none; 
  border-radius: 10px;
  background: white;
  text-align: left;
  margin: 10px;
}